.top-header {
    background-color: gray;
    color: white;
}

.cartbar {
    margin-left: 60px;
    margin-right: 60px;
    padding: 1em 0.5em 0.9em 0.5em;
}

.cartbar input {
    width: 100%;
}

.name-logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
}

.header-icon {
    font-size: 30px;
}

.header-link {
    color: black;
    text-decoration: none;
}

.name-logo {
    color: black;
    text-decoration: none;
}

.input-group-text,
.form-control {
    border-radius: 50px;
}

.nav {
    background-color: black;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 1em 2em;
}

.name-brand {
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
}

.carousel-item div {
    background-position: center;
    background-size: cover;
    /* object-fit: cover; */
    height: 600px;
    width: 100%;
}