@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

<!-- CSS here -->
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/flaticon.css">
<link rel="stylesheet" href="~/assets/css/slicknav.css">
<link rel="stylesheet" href="~/assets/css/animate.min.css">
<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
<link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/assets/css/themify-icons.css">
<link rel="stylesheet" href="~/assets/css/slick.css">
<link rel="stylesheet" href="~/assets/css/nice-select.css">
<link rel="stylesheet" href="~/assets/css/style.css">

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Register</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="login_part_text text-center">
            <div class="login_part_text_iner">
                <h2>New to our Shop?</h2>
                <p>
                    There are advances being made in science and technology
                    everyday, and a good example of this is the
                </p>
                <a href="#" class="btn_3">Create an Account</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!-- JS here -->

<script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="~/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/animated.headline.js"></script>

<!-- Scroll up, nice-select, sticky -->
<script src="~/assets/js/jquery.scrollUp.min.js"></script>
<script src="~/assets/js/jquery.nice-select.min.js"></script>
<script src="~/assets/js/jquery.sticky.js"></script>
<script src="~/assets/js/jquery.magnific-popup.js"></script>

<!-- contact js -->
<script src="~/assets/js/contact.js"></script>
<script src="~/assets/js/jquery.form.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/mail-script.js"></script>
<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/main.js"></script>
